* {
	font-family: Arial, sans-serif;
}

textarea {
	resize: none;
	font-family: Courier new, sans-serif;
	margin-bottom: 10px;
}

input {
	margin-bottom: 10px;
}

span {
	text-transform: uppercase;
	font-weight: bold;
}